/*regras apliocadas a seletores de elementos, sem classe ou id*/
input[type="text"],[type="email"],[type="password"]{
	border-radius:5px;
	border-color:#838B83;
}
main{
	position:relative;
	width:1100px;
	margin-left:130px;
	
}
article{
	height:inherit;
	width:321px;
	border-right:1px solid #ccc;
}
li{
	list-style:none;
}