/*regras apliocadas a seletores de elementos, sem classe ou id*/
input[type="text"],[type="email"],[type="password"]{
	border-radius:5px;
	border-color:#838B83;
}
main{
	position:relative;
}
article{
	height:inherit;
	position: absolute;
	width: 770px;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
}
li{
	list-style:none;
	margin-left: 10px;
}
