/*posicionamento de elementos e modulos*/
nav{
	position:relative;
}

.form_entrar{
	position:relative;
	top:200px;
	margin:0 auto;
}
.form_cadastrar{
	position:relative;
	top:150px;
	margin:0 auto;
	
}
.logo{
	display:inline;
	position:relative;
	top:30px;
	left:60px;
}
header .btn{
	float:right;
	position:relative;
	right:20px;
	top:20px;
	margin:5px;

}
.header_search{
	float: right;
	right: 20px;
	position: absolute;
}
.main_conteudo img{
	position:relative;
	margin-top:50px;
	margin-left:60px;
	display:inline;
	float:left;
}
.main-series{
	position: relative;
	margin: 0 auto;
}
.main_conteudo{
	position:relative;
	margin:0 auto;
}
.header_menu a{
	display:inline;
	float:left;
	vertical-align:center;
}
@media only screen and (min-width:600px){
	.header_menu{
		position:absolute !important;
		left:450px;
		
	}
}
.form_entrar .username{
	position:absolute;
	right:60px;
	top:40px;
}
.form_entrar .senha{
	position:absolute;
	right:60px;
	top:80px;
}
.form_entrar .submit{
	position:absolute;
	right:315px;
	top:130px;
}
.form_cadastrar .submit{
	position:absolute;
	right:420px;
	top:210px;
}
.form_cadastrar .nome, .form_cadastrar .sobrenome,.form_cadastrar .email,.form_cadastrar .senha,.form_cadastrar .username{
	position: relative;
	left:10px;
	bottom:20px;
	margin: 1px 0;
}
	
}

.topo{
	position:relative;
	float:right;
	top:620px;
	right:10px;
	position:fixed;
}
.title{
	margin:0px;
	position:relative;
	left:40px;
}
.main-categoria{
	width:1000px;
	margin: 0 auto;
}
.main-categoria:first-child{
	margin-top:0;
}
.todas{
	position:absolute;
	bottom:10px;
	
}
#main_info{
	float:center;
	top:300px;
	left:400px;
	position:fixed;
	display:none;
}
.carousel-inner img{
	float:left;
	margin:20px;
}
.carousel-inner{
	position:relative;
	left:120px;
	
}
.carousel{
	position:relative;
	left:30px;
}
.description-more{
	position:absolute;
	right:10px;
	bottom:25px;
}
.glyphicon-list{
	float:left;
	margin-right:10px;
	position:absolute;
	top:10px;
}
.option-link{
	float:left;
	position:relative;
	top:-5px;
	
}
.conteiner{
	clear:left;
	position:relative;
	
}
.titulo{
	position: relative;
	top:30px;
}
.info_series{
	position: relative;
	left:940px;
}
.description p{
	text-indent:15px;
	font-family: 'Josefin Sans', sans-serif;
	font-size:2em;
	text-align: justify;
	position: relative;
	margin: 0 auto;
	top:90px;
	padding: 90px 30px;
}
.serie img{
	position: relative;
}
.fa-plus{
	position: absolute;
	top:10px;
}
.categoria{
	position: relative;
	margin-left: 32.5px;
	margin-bottom: 60px;
}
.categoria img{
	margin-bottom: 20px;
	margin-left: 60px;
}
.welcome{
	margin-top: 0px;
	margin: 0 auto;
	position: relative;
	top: 60px;
}
.option{
	position: relative;
	float:left;
	margin-right: 300px;
}
.botoes{
	margin: 0 auto;
	position: relative;
	left: 100px;
	top:70px;
}
.minhas p{
	position: absolute;
	top:75px;
	left: 60px;
}
.series p{
	position: absolute;
	top:80px;
	left: 30px;
}
.header_menu{
	left:545px;
	padding-left: 0px;
}


