@media (max-width:600px){
 nav{
	width:650px !important;
	margin: 0 auto !important;
	position:fixed;
	
 }
 header{
	 width:650px !important;
	 margin: 0 auto !important;
 }
 .header_menu{
	position:absolute !important;
	left:120px !important;
 }
}