/*regras para o bloco (objetos)*/
h1{
	margin-top:0 !important;
}
.entrar{
	height:800px;
}
.form_entrar{
	border: solid 1px #000;
	width:450px;
	padding:80px;
	clip-path:polygon(0 0, 90% 0, 100% 100%, 10% 100%);
}
.form_cadastrar{
	border: solid 1px #000;
	width:550px;
	padding:60px;
	clip-path:polygon(0 0, 90% 0, 100% 100%, 10% 100%);
}
header{
	border-bottom: 1px solid #ccc;
	height:150px;
	width:100%;
}
.logo{
	width:200px;
}
nav{
	border-bottom: 1px solid #ccc;
	height:50px;
	width:100%;
}
.header_menu a{
	border-left:0.5px solid #ccc;
	height:50px;
	padding:10px;
	color:#000;
	text-decoration:none;
	font-size:1.4em;
	font-family: "Lithograph",monospace;
	
	
}
.header_menu a:last-child{
	border-right:0.5px solid #ccc;
	
}
.header_menu{
	position:relative;
	height:50px;
	width:450px;
	padding-left:0;
}

.header_menu a:link{
	text-decoration:none;
}

.main-series{
	height:4500px;
}
.main-todas{
	height:4090px;
}
.form_entrar .username{
	padding:5px;
	border-radius:0;
	border:none;
}
.form_entrar .senha{
	padding:5px;
	border-radius:0;
	border:none;
}
.form_entrar .submit{
	border: 1px solid #000;
	padding:5px;
}
.form_cadastrar .nome, .form_cadastrar .sobrenome,.form_cadastrar .email,.form_cadastrar .senha,.form_cadastrar .username{
	padding:5px;
	border-radius:0;
	border:none;
}
.form_cadastrar .submit{
	border: 1px solid #000;
	padding:5px;
}
.escolhido{
	border-bottom: 2.5px solid #1C1C1C;
}
.header_search input{
	padding:5px;
	border-radius:4px;
	border-color:#ccc;
}
.topo:link,.todas:link{
	text-decoration:none;
	padding:5px;
	border-radius:5px;
}
.todas:link{
	padding:10px;
}
#main_info{
	padding:50px;
	border-radius:15px;
}
.carousel-inner img{
	height:350px !important;
	width:230px;
}
.carousel{
	padding: 40px 0px;
	width:1020px;
	
	
	
}
.description{
	position:relative;
	margin-bottom:60px;
	width:280px;
	left:20px;
	top:30px;
	padding-bottom:90px;
	right:20px;
	border-bottom:1px solid #ccc;
}
.option-link:link,.description-more:link{
	text-decoration:none !important;
	color:#1C1C1C;
}
.option-link:hover{
	text-decoration:none !important;
	color:#1C1C1C !important;
	
}
.option-link{
	text-decoration:none;
	font-size:1.5em;
	color:#1C1C1C;
	
}
.description-more{
	text-decoration:none;
	background-color:rgba(255,255,255,0.7);
	padding:10px;
	border-radius:10px;
}
@media only screen and (min-width:800px){
.mobile-navegador{
	display:none !important;
}
}